.button {
    -fx-text-fill: white;
    -fx-font: 22 arial;
    -fx-background-color: #0d2d3a;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-max-height: 50;
    -fx-background-insets: 1;
}

.home-button {
    -fx-text-fill: white;
    -fx-font: 22 arial;
    -fx-background-color: #0d2d3a;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-max-height: 50;
    -fx-background-insets: 1;
}

.text-field {
    -fx-font: 22 arial;
    /*-fx-background-color: white;*/
    /*-fx-border-radius: 20;*/
    /*-fx-background-radius: 20;*/
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1;
}

.text-field-invalid {
    -fx-font: 22 arial;
    -fx-prompt-text-fill: gray;
    /*-fx-background-color: white;*/
    /*-fx-border-radius: 20;*/
    /*-fx-background-radius: 20;*/
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-background-insets: 1;
}
.combo-box {
    -fx-font: 22 arial;
    -fx-background-color: #0d2d3a;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-insets: 1;
}

.button:hover {
    -fx-opacity: 0.8;
}

.combo-box:hover {
    -fx-opacity: 0.8;
}

.combo-box .indexed-cell:selected {
    -fx-text-fill: white;
    -fx-font: 22 arial;
    -fx-background-radius: 20;
}

.game-button {
    -fx-text-fill: white;
    -fx-font: 30 arial;
    -fx-background-color: #0d2d3a;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-max-height: 100;
    -fx-max-width: 300;
    -fx-background-insets: 1;
    -fx-alignment: center;
    -fx-padding: 10;
}

.game-header {
    -fx-font: 50 arial;
    -fx-font-weight: bold;
    -fx-text-fill: #0d2d3a;
}


